# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# LocalDevine specific
bin/mariadb/data/*
bin/apache/logs/*
bin/php/logs/*
data/mariadb/*
tmp/*
hosts.backup
release/
dist-electron/

# Database files
*.frm
*.MYD
*.MYI
*.ibd
*.MAD
*.MAI
